<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <form class="d-flex">
            <input class="form-control me-1" type="search" placeholder="Buscar un país..." aria-label="Search">
            <button class="btn btn-primary me-4" type="submit">Buscar</button>
        </form>

        <!--Para cerrar la sesión-->
        <div class="contenedor-salir">
            <button (click)="cerrarSesion()" class="btn-cerrar-sesion btn btn-danger">Cerrar sesión</button>
        </div>
    </div>
</nav>

<body>
    <body>
        <div class="titulo">
            <h1>Lista de sus paises favoritos</h1>
        </div>
        <table class="table caption-top">
            
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">País</th>
                <th scope="col">Capital</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ecuador</td>
                <td>Quito</td>
                <td><button class="btn-cerrar-sesion btn btn-success"> Eliminar favoritos</button></td>
              </tr>
            </tbody>
          </table>
    </body>
</body>
